<div class="d-flex flex-column gap-5 mt-5">

  <h1>Welcome To The Jungle</h1>

  <div class="d-flex justify-content-around">
  <img src="/uploads/product/image/2/plante_2.jpg" style="width: 200px;" class="rounded">
  <img src="/uploads/product/image/9/plante_9.jpg" style="width: 200px;" class="rounded">
  <img src="/uploads/product/image/5/plante_5.jpg" style="width: 200px;" class="rounded">
  </div>
  <p>
  Welcome to the Jungle, where you will find a wide selection of plants, trees, and shrubs to suit any need. We are a team of passionate horticulturists who have been in the industry for many years. We understand that plants are not just a simple addition to a home or garden, they are living beings that bring life and beauty to any space.
  Our mission is to provide high-quality plants at an affordable price. We take pride in our selection of plants, which are carefully selected for their beauty, hardiness, and adaptability. We have a wide variety of plants for every climate, soil type, and light condition. Whether you are a seasoned gardener or just starting out, we have something for you.
  <br>
  <br>
  We offer a wide variety of options including indoor plants, outdoor plants, trees, shrubs, and even succulents. We also offer a wide variety of gardening tools and accessories to help you care for your plants.
  Our website is user-friendly, easy to navigate and you can purchase plants with ease. We also have a team of experts ready to answer any questions you may have about the plants or how to care for them.
  We believe that plants have the power to change lives and make the world a better place, and we are honored to be a part of that. Thank you for choosing us as your plant supplier, we are excited to help you find the perfect plants for your home or garden.
  </p>
</div>
